/* ABOUT */
#about {
  margin-top: 100px;
  margin-bottom: 80px;
  background: rgb(53, 0, 255);
  padding-bottom: 40px;
  background: linear-gradient(
      0deg,
      rgba(91, 0, 255, 0.7) 0%,
      rgba(0, 0, 0, 0.9) 75%
    ),
    url("../images/frontcard1.jpeg");
  background-size: 40%;
  background-size: cover;
}

@media only screen and (min-width: 990px) {
  #about h1 {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
  }

  #about p {
    color: gray;
    line-height: 2.3rem;
    font-size: 1.2rem;
  }

  #about .about-img {
    width: 350px;
    margin-left: 40px;
  }
}

@media only screen and (max-width: 990px) {
  #about h1 {
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
    margin-left: 20px;
    font-size: 3.5rem;
  }

  #about p {
    color: gray;
    line-height: 2.2rem;
    font-size: 1.1rem;
    padding: 10px;
  }

  #about .about-img {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}
