/* CONTACT */

#contact * {
  text-align: center;
  color: white;
}
#contact .col-lg-6 {
  justify-content: center;
}

#contact .col-lg-6 {
  justify-content: center;
}

#contact p {
  margin-top: 15px;
  font-size: 1.1rem;
}

#contact img {
  margin-top: 60px;
}
