/* SPONSOR SECTION  */
#sponsor .words h2 {
  margin-bottom: 20px;
}
@media only screen and (min-width: 600px) {
  #sponsor .content {
    position: relative;
    height: 350px;
    width: 80%;
    margin-top: 150px;
  }
  #sponsor .words {
    color: rgb(155, 154, 154);
    position: absolute;
    top: 50%;
    left: 30px;
    right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  #sponsor .content {
    position: relative;
    height: 200px;
    width: 80%;
    margin-top: 150px;
  }

  #sponsor .words {
    color: rgb(155, 154, 154);
    position: absolute;
    top: 40%;
    left: 30px;
    right: 10px;
    font-size: 0.8rem;
  }
}

#sponsor .frontcard {
  height: 100%;
  width: 100%;
  background-image: url(../images/frontcard.jpeg);
  position: absolute;
  right: 15px;
  bottom: 15px;
  border: rgb(165, 165, 165) solid;
  border-width: 0.5px;
}

#sponsor .backgradient {
  height: 100%;
  width: 100%;
  background: rgb(177, 0, 255);
  background: linear-gradient(
    74deg,
    rgba(177, 0, 255, 1) 0%,
    rgba(28, 0, 36, 1) 100%
  );
  position: absolute;
  left: 30px;
  top: 30px;
}

#sponsor .backgradient::before,
.frontcard::before {
  content: "";
  position: absolute;
  height: 105%;
  width: 104%;
  background: linear-gradient(
    90deg,
    rgb(47, 33, 133),
    rgb(47, 33, 133),
    rgb(47, 33, 133)
  );
  z-index: -1;
  filter: blur(20px);
}

@media only screen and (min-width: 600px) {
  #sponsor .desciption {
    margin-top: 150px;
    text-align: center;
    color: gray;
    margin-bottom: 100px;
  }
  #sponsor .desciption h1 {
    margin-bottom: 30px;
  }

  #sponsor .desciption p {
    font-size: 1.3rem;
    line-height: 0.7rem;
  }
  #sponsor img {
    width: 100%;
    height: 55px;
  }
  #sponsor .previous-sponsor {
    width: 100%;
    height: 300px;
    background: rgb(20, 39, 134);
    background: radial-gradient(
      circle,
      rgba(20, 39, 134, 1) 0%,
      rgba(72, 13, 112, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  #sponsor .previous-sponsor h1 {
    color: white;
    margin-top: 200px;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 600px) {
  #sponsor .desciption {
    margin-top: 150px;
    text-align: center;
    color: gray;
    margin-bottom: 40px;
    padding-left: 5px;
    padding-right: 5px;
  }
  #sponsor .desciption h1 {
    margin-bottom: 30px;
  }

  #sponsor .desciption p {
    font-size: 0.9rem;
    line-height: 1rem;
  }
  #sponsor img {
    width: 100%;
    height: 20px;
  }
  #sponsor .previous-sponsor {
    width: 100%;
    height: 220px;
    background: rgb(20, 39, 134);
    background: radial-gradient(
      circle,
      rgba(20, 39, 134, 1) 0%,
      rgba(72, 13, 112, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  #sponsor .previous-sponsor h1 {
    color: white;
    margin-top: 100px;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
  }
}
